<html>
  <head>
    <title>VaynerMedia Front-End Challenge</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">


  </head>
  <body>
    <div id="header">
      <h1>VaynerMedia Front-End Challenge</h1>
    </div>


    {{{body}}}
  </body>
</html>
