#header{
  width: 100%;
  /* background-color: #039be5; */
  background: linear-gradient(to bottom right, #039be5, #80deea); /* Standard syntax */
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px black;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Baloo Paaji', cursive;
  font-size: 30px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.57);
}
#main-container {
  margin-top: 25px;
  display: inline-flex;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#container1{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
#container2{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
.user1{
  font-size: 20px;
  text-align: center;
}
.user2{
  font-size: 20px;
  text-align: center;
}

tr:nth-child(even) {
  background: #4db6ac;
}
tr:nth-child(odd) {
  background: #FFF;
}

td{
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  padding-top: 5px;
  padding-bottom: 2px;
  height: 48px;
}
th{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 22px;
  /* border-bottom: 3px solid teal; */
}
.data-id{
border-radius: 6px 0px 0px 6px;
}
.album-title{
  border-radius: 0px 6px 6px 0px;
}
