
<div id="main-container">
  <div id="container1">
    <p class="user1">User: </p>
    <table id="user1table">
      <tbody id="table1_tbody" class="connectedSortable">
        <tr>
          <th>ID</th>
          <th>Album Title</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="container2">
    <p class="user2">User: </p>
    <table id="user2table">
      <tbody id="table2_tbody" class="connectedSortable">
        <tr>
          <th>ID</th>
          <th>Album Title</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>



