<h2>Hello {{name}}<h2>

<div>
  <p class="user1">User 1: </p>
  <table id="user1table">
    <p class="albums1"></p>
  </table>
</div>

<div>
  <p class="user2">User 2: </p>
  <table id="user2table">
    <p class="albums2"></p>
  </table>
</div>
