<h2>Hello {{name}}<h2>

<div>
  <p class="user1">User 1: </p>
  <table id="user1table">
    <tbody id="table1_tbody" class="connectedSortable">
      <tr>
        <th>ID</th>
        <th>Album Title</th>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <p class="user2">User 2: </p>
  <table id="user2table">
    <tbody id="table2_tbody" class="connectedSortable">
      <tr>
        <th>ID</th>
        <th>Album Title</th>
      </tr>
    </tbody>
  </table>
</div>



